target/
.metadata
.recommenders
.idea
.settings

*.class
**/.class
**/.classpath
**/.project
**/doc
*.orig
*.component
*.iml
*.rej
*.log

/*/.gitignore
*/bin/
*/target/
*/.project
*/.tern-project
*/.settings/
*/data/
data/elasticsearch/nodes/0/node.lock
